* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(0.25turn, #6c858f, #91ad7a, #856b64);
}
main {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
header {
  margin: 2% 40%;
}
.player {
  align-self: center;
  color: rgb(22, 22, 22);
  display: flex;
  align-content: center;
  font-family: cursive;
  border-radius: 3%;
  font-size: 2.5rem;
  opacity: 0.2;
  transition: all 0.5s;
}

.arrow {
  font-size: 3rem;
  align-self: center;
  opacity: 0;
}

.visibility {
  visibility: hidden;
}

.active-arrow,
.active-player {
  opacity: 1;
}

.display_result {
  display: flex;
  justify-content: center;
}

.reset {
  background-color: rgb(206, 62, 62);
  position: absolute;
  right: 15%;
}

.highlight {
  transform: scale(1.2, 1.5) skewX(-15deg);
  background: linear-gradient(0.5turn, #1c2019, #f6f8f7, #1c2019);
  border-radius: 10%;
}

#turn {
  transition: ease-in-out;
}
#btn {
  color: rgb(220, 217, 223);
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
  padding: 10%;
  width: max-content;
  border-radius: 8%;
  cursor: pointer;
}
#btn:hover {
  background-color: black;
}
.newGame {
  background-color: rgb(29, 25, 25);
  position: absolute;
  left: 15%;
  border-radius: 10%;
}

.reset:active {
  transform: translate(-5%, 3px);
  box-shadow: 0 1rem 1rem rgba(47, 45, 45, 0.171);
}

.btn:active {
  border: 5px ridge rgba(117, 77, 77, 0.596);
}

h2 {
  font-family: cursive;
  font-size: xx-large;
  padding: 2%;
  font-weight: 800;
  background-color: rgb(12, 12, 12);
  width: 100%;
  color: rgb(70, 162, 165);
  text-align: center;
  border: 20px solid rgb(29, 25, 25);
  transition: all 0.8s;
}
.start-title {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 2%;
  /* text-align: center; */
}
h1 {
  padding: 1rem;
  align-self: center;
  font-family: cursive;
  font-size: xx-large;
  font-weight: 800;
  color: rgb(238, 235, 231);
  background: rgba(4, 27, 8, 0.438);
  box-shadow: 0 8px 32px 0 rgba(150, 202, 176, 0.678);
  backdrop-filter: blur(40px);
  border-radius: 100px;
  border: 3px solid rgba(207, 133, 133, 0.801);
}
h3 {
  width: 100%;
  background-color: ivory;
  border: 1px solid ivory;
  border-radius: 30px;
  text-align: center;
  font-family: inherit;
}

table {
  margin: 0%;
  padding: 0%;
  background-color: black;
  table-layout: fixed;

  height: 600px;
  width: 600px;
  border: 4px solid #7eca5b;

  border-radius: 10px;
  box-sizing: border-box;
  border-collapse: separate;
  transition: all 0.75s;
}

.pid {
  font-size: 20px;
  position: absolute;
  top: 21%;
  left: 35%;
  align-content: center;
}

#result {
  border: 5px solid rgb(48, 153, 92);
  background: linear-gradient(0.25turn, #252627, #494b48, #554f4d);
  background: blur;
  width: fit-content;
  color: rgb(243, 243, 243);
  text-align: center;
  padding: 2% 13%;
  position: absolute;
  top: 35%;
  font-size: 150%;
  font-family: cursive;
  font-weight: 800;
  z-index: 1;
}
.starter {
  display: block;
  position: absolute;
  top: 30%;
  left: 15%;
}
form input {
  width: 80%;
  height: 2rem;
  color: #ee0e06;
  font-size: 1.2rem;

  background-color: rgba(17, 17, 17, 0.911);
  border-radius: 2%;
  border: rgb(182, 25, 25);
}
form {
  display: block;
  color: rgb(253, 249, 249);
  width: 130%;
  font-family: cursive;
  font-weight: 900;
  height: 130%;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  padding: 1.5rem 1.5rem 0rem;
  /* border: 10px solid chartreuse;
  background-color: bisque; */
  background: rgba(19, 0, 0, 0.308);
  box-shadow: 0 8px 32px 0 rgba(139, 81, 81, 0.664);
  backdrop-filter: blur(40px);
  border-radius: 30px;
  border: 5px solid rgba(207, 133, 133, 0.801);
  /* border-radius: 20px; */
}
.play {
  padding: 0.3rem 0.5rem;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: inherit;
  color: rgb(253, 251, 251);
  /* background-color: rgb(240, 116, 116); */
  background: linear-gradient(0.25turn, #010b0c8a, #082e35c5);
  margin: 5% 35%;
  cursor: pointer;
  border-radius: 30%;
}
.play:hover {
  background: linear-gradient(0.25turn, #0c2d33de, #65838be7);
}

.hidden {
  display: none;
}

td {
  padding: 0%;
  margin: 0%;
  height: 30%;
  width: 30%;
  background-color: ivory;
  position: relative;
  font-size: xx-large;
  border-radius: 0%;
  border-collapse: separate;
  border: 1px solid rgb(1, 19, 16);
}
button {
  background-color: inherit;
}

.btn:hover {
  background: radial-gradient(
    circle,
    rgba(183, 200, 221, 1) 29%,
    rgba(171, 206, 225, 1) 35%,
    rgba(170, 207, 225, 1) 37%,
    rgba(157, 212, 230, 1) 59%,
    rgba(156, 212, 230, 1) 63%,
    rgba(148, 216, 233, 0.7030049013287833) 92%
  );
}

@media only screen and (max-width: 600px) {
  h2 {
    border: 10px ridge rgb(190, 133, 136);
    font-size: x-small;
  }
  h3 {
    font-size: xx-small;
  }
  table {
    width: 350px;
    height: 350px;
  }
  button {
    display: block;
    height: 100%;
    width: 100%;
  }
  .pid {
    position: absolute;
    top: -25%;
    left: 10%;
    font-size: 150%;
  }
  .player0 {
    margin-right: 3%;
  }
  .playerX {
    margin-left: 3%;
  }
  #result {
    transform: scale(1.2, 1.2) skewX(-15deg);
  }

  .arrow {
    font-size: 2rem;
  }
  .highlight {
    transform: scale(1, 1) skewX(-15deg);
  }
}
@media only screen and (min-width: 600px) {
  h2 {
    /* min-width: max-content; */
    border: 5px ridge rgb(190, 133, 136);
    font-size: large;
  }

  h3 {
    font-size: x-small;
  }

  table {
    width: 350px;
    height: 350px;
  }

  button {
    display: block;
    height: 100%;
    width: 100%;
  }
  .starter {
    top: 35%;
    left: 22%;
  }
  .pid {
    position: absolute;
    top: -60%;
    left: 8%;
    font-size: 220%;
  }
  #result {
    transform: scale(1.3, 1.5) skewX(-15deg);
    top: 35%;
  }
  .player0 {
    margin-right: 3%;
  }
  .playerX {
    margin-left: 3%;
  }

  .arrow {
    font-size: 2.5rem;
  }
  .highlight {
    transform: scale(1.3, 1.5) skewX(-15deg);
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: large;
    border: 10px ridge rgb(170, 99, 110);
  }
  h3 {
    font-size: small;
  }
  table {
    width: 450px;
    height: 450px;
  }

  button {
    padding: 0%;
    height: 100%;
    width: 100%;
  }
  td {
    border: 5px;
    color: ivory;
  }
  .starter {
    top: 40%;
    left: 27%;
  }
  .reset {
    margin-right: 5%;
    width: fit-content;
  }

  .pid {
    position: absolute;
    top: -65%;
    left: 5%;
    font-size: 300%;
  }
  .starter {
    top: 40%;
    left: 32%;
  }
  #result {
    padding: 1% 10%;
    top: 44%;
  }
  .player0 {
    margin-right: 7%;
  }
  .playerX {
    margin-left: 7%;
  }

  .arrow {
    font-size: 3rem;
  }
  .highlight {
    transform: scale(1.7, 1.7) skewX(-15deg);
  }
  .player0 {
    margin-right: 4%;
  }
  .playerX {
    margin-left: 4%;
  }
}

@media only screen and (min-width: 992px) {
  h2 {
    border: 15px ridge rgb(190, 133, 136);
    font-size: x-large;
  }
  h3 {
    font-size: large;
  }
  table {
    width: 500px;
    height: 500px;
  }
  button {
    height: 100%;
    width: 100%;
  }

  .pid {
    position: absolute;
    top: -70%;
    left: 4%;
    font-size: 350%;
  }
  .starter {
    top: 45%;
    left: 35%;
  }
  #result {
    transform: scale(2, 2) skewX(-15deg);
  }
  .highlight {
    transform: scale(2.4, 2.4) skewX(-15deg);
  }
  .player0 {
    margin-right: 8%;
  }
  .playerX {
    margin-left: 8%;
  }

  .arrow {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  table {
    width: 550px;
    height: 550px;
  }
  button {
    height: 100%;
    width: 100%;
  }
  .pid {
    position: absolute;
    top: -72%;
    left: 2%;
    font-size: 400%;
  }
  .reset {
    margin-right: 13%;
  }
  .starter {
    top: 40%;
    left: 39%;
    /* margin: 35% 35%; */
  }
  .newGame {
    left: 25%;
  }
  #btn {
    padding: 10%;
    width: max-content;
    font-size: 1.3rem;
  }
  #result {
    top: 54%;

    font-size: 2.1rems;
  }
  .player0 {
    margin-right: 8%;
  }
  .playerX {
    margin-left: 8%;
  }

  .arrow {
    font-size: 5rem;
  }
  .highlight {
    transform: scale(3.5, 3.5) skewX(-15deg);
  }
}
